*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
}

#left{
    position: relative;
    width: 40%;
    height: 100%;
    
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr a{
    margin-right: 20px;

}

#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#textcenter h1{
    font-size: 90px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter p{
    opacity: .6;
    line-height:20px;
}

#right{
    width: 60%;
    height: 100%;
    background-color: white;
}

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
}

#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1643576779688-53380749ec09?q=80&w=1206&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1586788224331-947f68671cf1?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

@media(max-width: 500px) {
    
    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
    
}


/* #wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40vw;
    background-color: rgb(255, 255, 255);
}

#right-container{
    height: 100vh;
    width: 60vw;
    background-color: blue;
    display: flex;
    position: relative;
}

#right_top{
    display: flex;
    height: 50%;
    width:100%;
}

#right_bottom{
    display: flex;
    position: absolute;
    top: 50%;
    height: 50%;
    width:100%;
    background-image: url(https://images.unsplash.com/photo-1643576779688-53380749ec09?q=80&w=1206&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#right_top_left{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#right_top_right{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1592695953174-a6bc74c6a085?q=80&w=682&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#left_text{
    
    width: 50%;
    height: 50%;
    
}

#left_text h1{
    padding: 10p;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium';
    font-weight: 900;
} */


